{{#if loggedIn}}
{{> navBar profilePic = profilePic isAuth = isAuth}}
{{/if}}
{{#unless loggedIn}}
{{> navBar profilePic = 'https://media.istockphoto.com/vectors/anonymity-concept-icon-in-neon-line-style-vector-id1259924572?k=20&m=1259924572&s=612x612&w=0&h=Xeii8p8hOLrH84PO4LJgse5VT7YSdkQY_LeZOjy-QD4='}}
{{/unless}}
   <style>
      @media screen and (max-width: 991px) {


#house {
  color: #000
}

  }
  </style>
<!-- === Items Links Selector Start === -->
<div class="containerx" >
      <div class="Selector_Links">
        <div class="SC_Item" onclick='location.href = `/?attr=cat&&element=${this.getAttribute("data-type")}`' id="SC_IT" data-type="all">
          <p>All</p>
        </div>
        <div class="SC_Item" onclick='location.href = `/?attr=cat&&element=${this.getAttribute("data-type")}`' id="SC_IT" data-type="art">
          <p>Art</p>
        </div>
        <div class="SC_Item" onclick='location.href = `/?attr=cat&&element=${this.getAttribute("data-type")}`' id="SC_IT" data-type="tech">
          <p>Tech</p>
        </div>
        <div class="SC_Item" onclick='location.href = `/?attr=cat&&element=${this.getAttribute("data-type")}`' id="SC_IT" data-type="uiux">
          <p>UI/UX</p>
        </div>
        <div class="SC_Item" onclick='location.href = `/?attr=cat&&element=${this.getAttribute("data-type")}`' id="SC_IT" data-type="amvs">
          <p>Amvs</p>
        </div>
        <div class="SC_Item" onclick='location.href = `/?attr=cat&&element=${this.getAttribute("data-type")}`' id="SC_IT" data-type="photoshop">
          <p>Photoshop</p>
        </div>
        <div class="SC_Item" onclick='location.href = `/?attr=cat&&element=${this.getAttribute("data-type")}`' id="SC_IT" data-type="games">
          <p>Games</p>
        </div>
        <div class="SC_Item" onclick='location.href = `/?attr=cat&&element=${this.getAttribute("data-type")}`' id="SC_IT" data-type="other">
          <p>Other</p>
        </div>
      </div>
</div>

{{#unless isPost}}
<div style="">
  <h2 style="margin-left:0vw;font-size:1.5em;font-weight: bold;color:#757575;display:inline-block;padding:0.5em 1em;border-radius:0.2em">Sorry, No Posts Available!</h2>
</div>
{{/unless}}
<!-- === Items Links Selector End === -->
<noscript id="loggedIn" isAuth="{{isAuth}}"></noscript>
<div class="posts_cards">
  <div class="container-fluid" >
    <div class="grid_posts" >
        {{#each posts}}
    <div class="full_post" style="height: 100%;">
      <div style="width:21.5em;height:24em;position:absolute;z-index: 2;margin-left:0;border-radius:3em 3em 0 0 ;cursor:pointer;" onclick="location.href='/postPreview?postNum={{postName}}&&user={{user}}'"></div>
        <div class="post_box" data-type="art">
          <div class="index_image" >
              <img src="{{img}}" style="object-fit: scale-down;" width="100%" height="100%" alt="Image Not Available">
          </div>
          <div class="top">
              <div class="items">
                <div class="item sned" style="z-index: 2;" onclick="location.href = `/chatRoom?user={{userName}}&redirect=true`">   <i class="fas fa-comment"></i> </div>
                {{#if isLiked}}
                  <div class="item star" style="z-index: 2;" id="{{postName}}-id" postNum="{{postName}}" user="{{userName}}" onclick="removeLike('{{user}}','{{postName}}')">
                    <i style="color: red;" class="fa-solid fa-heart-broken"></i>
                  </div>
                {{/if}}
                {{#unless isLiked}}
                  <div class="item star" style="z-index: 2;" id="{{postName}}-id" postNum="{{postName}}" user="{{userName}}" onclick="addLike('{{user}}','{{postName}}')">
                    <i style="color: red;" class="fa-solid fa-heart"></i>
                  </div>
                {{/unless}}
              </div>
          </div>
          <div class="bottom">
            <div class="UserDetails" style="cursor: pointer;" onclick="window.location.href = '/profile?user={{userName}}'">
              <div class="UserImage">
                <img src="{{profilePic}}" alt="User Profile Image">
              </div>
              <div class="name_time">
                <div class="name">
                  <h6 style="width: auto;height:1.3em;overflow: hidden !important;text-overflow: ellipsis;white-space: nowrap;text-align: end; margin-right:0.5em">{{userName}}</h6>
                  {{#if verified}}
                    <i class="fa-solid fa-circle-check"></i>
                  {{/if}}
                </div>
                <h6>{{date}}</h6>
              </div>
            </div>
              <div class="post_name">
                    <h5 style="width: 4rem;height:1.3em;overflow: hidden !important;text-overflow: ellipsis;white-space: nowrap;text-align: end; margin-right:0.5em">{{title}}</h5>
              </div>
          </div>
        </div>
      <div class="bottom-post">
        <div>
          <h2></h2>
          <p style="color: #9E9EA7;">{{likes}} Likes | {{commentsQty}} Comments </p>
        </div>
      </div>
    </div>
      {{/each}}
    </div>
  </div>
</div>
<script>
    newPageTitle = 'Feed Page | Otnem - Share your project with the world';
document.querySelector('title').textContent = newPageTitle;
  $('.SC_Item').each(function(i,obj){
    if(!getUrlVars()['attr']&&!getUrlVars()['element']){
      if($(this).attr('data-type').toLowerCase() == 'all')
        return $(this).addClass('active')
    }
    else if(getUrlVars()['attr'].toLowerCase() == "cat"&&$(this).attr('data-type').toLowerCase() == getUrlVars()['element'].toLowerCase())
      $(this).addClass('active')
  })
  function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
  async function addLike(user,postNum){
    if(!$('#loggedIn').attr('isAuth'))
      location.href = '/login'
    console.log(user,postNum)
    await axios.post('/addLike',{user,postNum})
    location.href = `/postPreview?postNum=${postNum}&&user=${user}`
  }
  async function removeLike(user,postNum){
    if(!$('#loggedIn').attr('isAuth'))
      location.href = '/login'
    await axios.post('/removeLike',{user,postNum})
    location.href = `/postPreview?postNum=${postNum}&&user=${user}`
  }
</script>