{{#if isAuth}}
{{> navBar profilePic = profilePic isAuth = isAuth}}
{{/if}}
{{#unless isAuth}}
{{> navBar profilePic =
'https://media.istockphoto.com/vectors/anonymity-concept-icon-in-neon-line-style-vector-id1259924572?k=20&m=1259924572&s=612x612&w=0&h=Xeii8p8hOLrH84PO4LJgse5VT7YSdkQY_LeZOjy-QD4='}}
{{/unless}}
<noscript id="isAuth" auth="{{isAuth}}"></noscript>
{{#with userObj}}
{{!-- {{userObj}} --}}
<style>
  .bottom-post {
    height: 50px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media screen and (max-width: 991px)  {
    .navbar__  {
      display:none;
    }
  }
.navbar_mobile {
    color: #d1dbdf;
  
}
#profile {
  color: #000;
}
  #searchx {
    display: none;
  }
</style>
<div class="posts_cards mb-5 mb-lg-0">
  <div class="container-fluid ">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="cover">
            <img src="{{banner}}" />
          </div>
        </div>
        <div class="col-10 col-lg-5 mt--4">
          <div class="user">
            <div class="pd-left">
              <div class="pd-row">
                <img src="{{profilePic}}" class="pd-image" alt="Profile Image" style="object-fit: cover;width: 5em;height: 5em;">
              <div>
                  <div style="display: grid;grid-auto-flow: column;place-items:center;">
                  <h3>{{userName}}</h3>
                  {{#if verified}}
                    <i style="color: rgb(0, 191, 255); margin-bottom:0.5em;" class="fa-solid fa-circle-check"></i>
                  {{/if}}
                  </div>
                  <p>{{followers}} Followers | {{following}} Following</p>
                </div>
              </div>
            </div>
            <div class="pd-right">
                {{#if isMine}}
                <a href="./settings">
                  <div class="settings">
                    <i class="fa-solid fa-gear"></i>
                  </div>
                </a>
                {{/if}}
                {{#unless isMine}}
                <noscript id="userName" name="{{userName}}"></noscript>
                  {{#unless isFollowing}}
                    <div class="followBtn" style="cursor: pointer;" onclick="follow()">
                      <i class="fa-solid fa-user-plus"></i>
                    </div>
                  {{/unless}}
                  {{#if isFollowing}}
                    <div class="unFollowBtn" style="cursor: pointer;" onclick="unFollow()">
                      <i class="fa-solid fa-user-slash"></i>
                    </div>
                  {{/if}}
                {{/unless}}
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
<div class="mb-5 mb-lg-0 mt-1 mt-lg-0 px-3 px-lg-0 d-block"   >
  <div class="container-fluid">
    <div class="grid_posts mt-5 " >
        {{#each posts}}
    <div class="full_post" style="height: 100%;">
        <div class="post_box" data-type="art" onclick="window.location.href = '/postPreview?postNum={{id}}&&user={{name}}'">
          <div class="index_image">
              <img style="object-fit: scale-down;" src="{{img}}" alt="Image Not Available">
          </div>
          <div class="top">
              <div class="items">
                <div class="item sned" onclick="location.href = `/chatRoom?user={{userName}}&redirect=true`">   <i class="fa-solid fa-envelope"></i> </div>

                {{#if isLiked}}
                  <div class="item star" id="{{postName}}-id" postNum="{{postName}}" user="{{userName}}" onclick="removeLike('{{user}}','{{postName}}')">
                    <i style="color: red;" class="fa-solid fa-heart-broken"></i>
                  </div>
                {{/if}}
                {{#unless isLiked}}
                  <div class="item star" id="{{postName}}-id" postNum="{{postName}}" user="{{userName}}" onclick="addLike('{{user}}','{{postName}}')">
                    <i style="color: red;" class="fa-solid fa-heart"></i>
                  </div>
                {{/unless}}
              </div>
          </div>
          <div class="bottom">
            <div class="UserDetails" style="cursor: pointer;" onclick="window.location.href = '/profile?user={{name}}'">
              <div class="UserImage">
              <img src="{{profilePic}}" alt="User Profile Image">

              </div>
              <div class="name_time">
                <div class="name">
                  <h6 style="width: auto;height:1.3em;overflow: hidden !important;text-overflow: ellipsis;white-space: nowrap;text-align: end; margin-right:0.5em">{{name}}</h6>
                  {{#if verified}}
                    <i class="fa-solid fa-circle-check"></i>
                  {{/if}}
                </div>
                <h6>{{date}}</h6>
              </div>
            </div>
              <div class="post_name">
                    <h5 style="width: 4rem;height:1.3em;overflow: hidden !important;text-overflow: ellipsis;white-space: nowrap;text-align: end; margin-right:0.5em">{{title}}</h5>
              </div>
          </div>

        </div>
      <div class="bottom-post">
        <div>
            <h2></h2>
            <p style="color: #9E9EA7;">{{likes}} Likes | {{commentsQty}} Comments </p>
        </div>
      </div>
    </div>
      {{/each}}
    </div>
  </div>
</div>
    {{#unless isPost}}
    <div style="display: grid;place-items: center;height:25vw;">
      <h2
        style="margin-left:0vw;font-size:1.5em;font-weight: bold;color:#757575;display:inline-block;padding:0.5em 1em;border-radius:0.2em">
        Sorry, No Posts Available!</h2>
    </div>
    {{/unless}}

    {{/with}}

<script>
  newPageTitle = 'Profile | Otnem - Share your project with the world';
document.querySelector('title').textContent = newPageTitle;
  $('.followBtn').click(async e=>{
    if($('#isAuth').attr('auth') == "false")
      return location.href = '/login'
    await axios.post('/follow',{followUserName:$('#userName').attr('name')})
    location.reload()
  })
  $('.unFollowBtn').click(async e=>{
    if($('#isAuth').attr('auth') == "false")
      return location.href = '/login'
    await axios.post('/unFollow',{unFollowUserName:$('#userName').attr('name')})
    location.reload()
  })
  async function addLike(user,postNum){
    if(!$('#loggedIn').attr('isAuth'))
      location.href = '/login'
    await axios.post('/addLike',{user,postNum})
    location.href = `/postPreview?postNum=${postNum}&&user=${user}`
  }
  async function removeLike(user,postNum){
    if(!$('#loggedIn').attr('isAuth'))
      location.href = '/login'
    await axios.post('/removeLike',{user,postNum})
    location.href = `/postPreview?postNum=${postNum}&&user=${user}`
  }

</script>